html {
          scroll-behavior: smooth;
}
body {
          overflow-x: hidden;
}
.btnfrel {
          background-color: white;
          color: #4285f4;
}

.btnf {
          background-color: #4285f4;
          color: white;
}
